<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOP | Liste de recettes</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="content">
        <div id="header">
            <div id="menu">
                <div id="logo">
                    <a href="/">
                        <img src="assets/logo/logo_rose.png" alt="Logo">
                    </a>
                </div>
                <div id="recherche">
                    <input type="text" id="recherche-input" placeholder="Rechercher">
                    <button id="recherche-btn">
                        <img src="assets/icones/loupe.svg" alt="🔍">
                    </button>
                </div>
                <div id="ajouter-btn">
                    <img src="assets/icones/plus.svg" alt="Nouvelle recette">
                </div>
            </div>
            <div id="filters">
                <div class="filter" id="filter-type">Type v</div>
                <div class="filter" id="filter-prix">Prix v</div>
                <div class="filter" id="filter-duree">Durée v</div>
                <div class="filter" id="filter-ingredients">Ingrédients v</div>
                <div class="filter" id="filter-note">Note v</div>
            </div>
        </div>





        <div id="liste">
            <a href="/recette">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
            <a href="/">
                <div class="recette">
                    <div class="recette-image">
                        <img src="assets/pizza.jpeg" alt="Pizza margherita à ma façon">
                    </div>
                    <div class="recette-details">
                            <h2 class="recette-titre">Pizza margherita à ma façon
                                <span class="recette-note">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                            </h2>
                        <p class="recette-description">Recette classique de pizza margherita, adaptée à mon goût.</p>
                        <p class="recette-synthese">Plat • Facile • € • 15 min + 30 min</p>
                    </div>
                </div>
            </a>
        </div>




        <div id="footer">
            <p id="footer-gauche">&copy; C. Ruetsch</p>
            <div id="footer-centre">
                <img src="assets/logo/logo_blanc.png">
            </div>
            <div id="footer-droite">
                <p>Mode sombre</p>
            </div>
        </div>
    </div>

</body>
</html>