<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOP | Recette</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="recipe.css">
</head>
<body>
    
    <div id="content">

        <div id="header">
            <div id="menu">
                <div id="logo">
                    <a href="/">
                        <img src="assets/logo/logo_rose.png" alt="Logo">
                    </a>
                </div>
                <div id="recherche">
                    <input type="text" id="recherche-input" placeholder="Rechercher">
                    <button id="recherche-btn">
                        <img src="assets/icones/loupe.svg" alt="🔍">
                    </button>
                </div>
                <div id="ajouter-btn">
                    <img src="assets/icones/plus.svg" alt="Nouvelle recette">
                </div>
            </div>
        </div>





        <div id="image">
            <h1>Pizza margherita à ma façon</h1>
        </div>

        <div id="infos">
            <div class="info">
                <img src="assets/icones/type.svg" alt="🍽️">
                <p>Plat</p>
            </div>
            <div class="info">
                <img src="assets/icones/difficulte.svg" alt="⚡">
                <p>Facile</p>
            </div>
            <div class="info">
                <img src="assets/icones/prix.svg" alt="🪙">
                <p>2€ / pers.</p>
            </div>
            <div class="info">
                <img src="assets/icones/temps_prep.svg" alt="⏱️">
                <p>15 min</p>
                <p>+</p>
                <img src="assets/icones/temps_cuisson.svg" alt="🔥">
                <p>30 min</p>
            </div>
            <div class="info">
                <img src="assets/icones/note.svg" alt="⭐">
                <p>4.8/5</p>
            </div>
        </div>

        <h2>Ingrédients</h2>
        
        <div id="quantity-selector">
            <button id="quantity-moins">–</button>
            <p id="quantity-val">4 personnes</p>
            <button id="quantity-plus">+</button>
        </div>

        <div id="ingredients">
            <div class="ingredient">
                <img src="assets/ingredients/pate_pizza.png" alt="">
                <p class="ingredient-nom">Pâte à pizza</p>
                <p class="ingredient-quantite">1</p>
            </div>
            <div class="ingredient">
                <img src="assets/ingredients/tomate.png" alt="">
                <p class="ingredient-nom">Tomates</p>
                <p class="ingredient-quantite">2</p>
            </div>
            <div class="ingredient">
                <img src="assets/ingredients/mozzarella.png" alt="">
                <p class="ingredient-nom">Mozzarella</p>
                <p class="ingredient-quantite">1</p>
            </div>
        </div>

        <h2>Recette</h2>

        <div id="etapes">
            <div class="etape">
                <p class="etape-num">1</p>
                <p class="etape-desc">Préchauffez votre four à 240°C</p>
            </div>
            <div class="etape">
                <p class="etape-num">2</p>
                <p class="etape-desc">Étaler la pâte à pizza sur un plan de travail fariné en formant un disque régulier, en laissant les bords un peu plus épais.</p>
            </div>
            <div class="etape">
                <p class="etape-num">3</p>
                <p class="etape-desc">Napper le fond de la pâte avec la sauce tomate, en évitant les rebords.</p>
            </div>
            <div class="etape">
                <p class="etape-num">4</p>
                <p class="etape-desc">Disposer la mozzarella coupée en morceaux ou en lanières, puis ajouter les feuilles de basilic.</p>
            </div>
            <div class="etape">
                <p class="etape-num">5</p>
                <p class="etape-desc">Verser un filet d'huile d'olive et ajouter une pincée de sel.</p>
            </div>
            <div class="etape">
                <p class="etape-num">6</p>
                <p class="etape-desc">Enfourner pendant 7 à 10 minutes selon la puissance de votre four, jusqu'à ce que la croûte soit dorée et le fromage bien fondu.</p>
            </div>
        </div>




        <div id="footer">
            <p id="footer-gauche">&copy; C. Ruetsch</p>
            <div id="footer-centre">
                <img src="assets/logo/logo_blanc.png">
            </div>
            <div id="footer-droite">
                <p>Mode sombre</p>
            </div>
        </div>
        
    </div>
</body>
</html>