<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | CHOP</title>
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/todo.css">
</head>
<body>
    <div id="content">
        <h1>ToDo</h1>
        <div id="taches">
            <ul id="taches-a-faire">
                <li><span class="cat">[Contenu]</span> Auteur et description sur la page de recette</li>
                <li><span class="cat">[UI]</span> Uniformiser les paddings et marges</li>
                <li><span class="cat">[UI]</span> Fix du check des étapes sur mobile</li>
                <li><span class="cat">[UI]</span> Fix de la taille des cartes sur la liste des recettes</li>
                <li><span class="cat">[UI]</span> Mieux gérer les cartes des ingrédients</li>
                <li><span class="cat">[UI]</span> Dark mode</li>
                <li><span class="cat">[Fonctionnalité]</span> Quantités des ingrédients</li>
                <li><span class="cat">[Fonctionnalité]</span> Modification des quantités</li>
                <li><span class="cat">[Fonctionnalité]</span> Filtres de recherche</li>
                <li><b><span class="cat">[Fonctionnalité]</span> Ajouter et modifier les recettes</b></li>
            </ul>
            <br>
            <ul id="taches-faites">
                <li><span class="cat">[Navigation]</span> Accueil avec liste dynamique des recettes</li>
                <li><span class="cat">[Navigation]</span> Ouverture d'une fiche recette depuis la liste</li>
                <li><span class="cat">[Contenu]</span> Affichage des informations de recette (catégorie, difficulté, prix, temps, note)</li>
                <li><span class="cat">[Contenu]</span> Chargement des ingrédients depuis la base de données</li>
                <li><span class="cat">[Contenu]</span> Chargement des étapes depuis la base de données</li>
                <li><span class="cat">[UI]</span> Clic pour barrer une étape sur la fiche recette</li>
                <li><span class="cat">[UI]</span> Clic pour surligner un ingrédient sur la fiche recette</li>
            </ul>
        </div>
        <a href="/">
            <button id="retour-btn"><span id="fleche">←</span> Accueil</button>
        </a>
    </div>
</body>
</html>