<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | CHOP</title>
    
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.3.25/dist/lenis.css">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/todo.css">
    <link rel="stylesheet" href="/style/dark-global.css">
    <link rel="stylesheet" href="/style/dark-todo.css">
    <link rel="icon" type="image/png" href="/assets/logo/logo_fond_o.png">
</head>
<body>
    <div id="content">
        <h1>ToDo</h1>
        <div id="taches">
            <ul id="taches-a-faire">
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Tooltips des ingrédients (références directes dans l'étape)</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Adapter la couleur des svg (dark mode)</span></li>
                <li><b><span class="cat">[Fonctionnalité]</span> <span class="tache">Ajouter, supprimer et modifier les recettes</span></b></li>
                <li><b><span class="cat">[Fonctionnalité]</span> <span class="tache">Importer des recettes d'autres sites</span></b></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Créer des listes de courses</span></li>
            </ul>
            <br>
            <ul id="taches-faites">
                <li><span class="cat">[Navigation]</span> <span class="tache">Accueil avec liste des recettes</span></li>
                <li><span class="cat">[Contenu]</span> <span class="tache">Affichage des informations de recette</span></li>
                <li><span class="cat">[Contenu]</span> <span class="tache">Chargement des ingrédients et étapes depuis la base de données</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Clic pour barrer une étape sur la fiche recette</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Clic pour barrer un ingrédient sur la fiche recette</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Fix du check des étapes sur mobile</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Fix des hover de recipe sur mobile (ingrédients et étapes)</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Fix du footer sur mobile</span></li>
                <li><span class="cat">[Contenu]</span> <span class="tache">Auteur et description sur la page de recette</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Uniformiser les paddings et marges</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Dark mode</span></li>
                <li><span class="cat">[UX]</span> <span class="tache">Smooth scrolling</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Mieux gérer les cartes des ingrédients</span></li>
                <li><span class="cat">[Système]</span> <span class="tache">Docker</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Fix de la taille des cartes sur la liste des recettes</span></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Afficher les quantités des ingrédients dans la fiche recette</span></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Modifier les quantités (+/-)</span></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Exporter/imprimer les recettes</span></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Partager les recettes</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Fix l'affichage des durées dans le récap recette</span></li>
                <li><span class="cat">[UI]</span> <span class="tache">Filtrage des recherches dans l'API (pas encore sur la liste des recettes)</span></li>
                <li><span class="cat">[Fonctionnalité]</span> <span class="tache">Filtres de recherche</span></li>
            </ul>
        </div>
        <button id="retour-btn" onclick="window.history.back()"><span id="fleche">←</span> Retour</button>
    </div>

    <script src="/script/darkmode.js"></script>

    <script src="https://unpkg.com/lenis@1.3.25/dist/lenis.min.js"></script> 
    <script>new Lenis({ autoRaf: true, autoToggle: true, anchors: true, allowNestedScroll: true, naiveDimensions: true, stopInertiaOnNavigate: true })</script>
    
</body>
</html>